.mainContainer{
 
    padding:30px 50px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    
}
.lightMode{
   
    background-color: white;
}
.darkMode{
    background-color: #333;
   
}
@media only screen and (max-width: 500px) {
    .mainContainer{
 
        padding: 0px 10px;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow: hidden;
        
    }
}